@media ( max-width: 1200px )
  .container 
    max-width: 968px  
  .hotel
    &-slider
      width: 590px
      &__image
        width: 100%
        height: 100%
        object-fit: cover
  .hotels
    &-stars
      margin-bottom: 15px
    &__image
      &__main
        height: 500px
    &-info
      margin-bottom: 34px
      line-height: 136%
  .card
    width: 230px
    height: 230px
  
  .footer
    &__input
      &-group
        flex-basis: 100%
  
@media ( max-width: 992px  )
  .container, 
  .newsletter-wrapper 
    max-width: 700px
  .logo
    width: 132px  
  .navbar
    &-top
      padding: 30px 0 30px 0
    &__search
      margin-left: auto
    &-menu
      padding: 22px 0 22px 0
      &__link
        font-size: 12px
        line-height: 15px 
        &:hover
          &::before 
            opacity: 0
  .user
    &:hover
      color: $dark
      background: $light
      border-radius: none
  .search
    &__input    
      max-width: 340px 
    &__button
      &:hover
        background-color: $primary
  .breadcrumb-list
    &__link
      &:hover
        &::before 
          opacity: 0

  .hotel
    &-slider
      width: 100%
    &-grid
      flex-direction: column
      &__slider
        margin-bottom: 30px
    &-details
      flex-direction: row
    &-back
      &:hover
        background-color: $primary
  .booking, .map
    width: 340px
    height: 210px
  .booking
    &__number
      &:hover
          &::before 
            opacity: 0
    &__button
      &:hover
        background-color: $primary

  .packages-wrapper
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: repeat(3, 1fr)
    gap: 20px 20px
  .hotel1 
    display: grid
    grid-template-columns: repeat(2, 1fr)
    grid-template-rows: 1fr
    gap: 0px 0px
    grid-area: 1 / 1 / 2 / 3
  .hotel2 
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(2, 1fr)
    gap: 0px 0px
    grid-area: 2 / 1 / 3 / 2
  .hotel3 
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(2, 1fr)
    gap: 0px 0px
    grid-area: 2 / 2 / 3 / 3
  .hotel4 
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(2, 1fr)
    gap: 0px 0px
    grid-area: 3 / 1 / 4 / 2
  .hotel5 
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(2, 1fr)
    gap: 0px 0px
    grid-area: 3 / 2 / 4 / 3
    
  .hotels
    height: 450px
    &-stars
      10px
    &-photo
      &__offer
        width: 75px
        height: 20px
        font-size: 11px
    &-about
      padding: 20px 21px 25px 30px
      &-main
        padding: 35px 21px 25px 30px
      &__title
        margin-bottom: 20px
    &__image
      &__main
        min-height: 450px        
    &-title
      font-size: 20px
    &-info
      font-size: 14px
      margin-bottom: 30px
    &__text
      margin-bottom: 7px
    &__description
      margin-left: 9px
    &__room
      margin-bottom: 15px
      &__main
        margin-bottom: 35px
    &__pricetag
      font-size: 20px
      line-height: 20px
      &-old
        font-size: 11px
        line-height: 12px
    &__button
      padding: 7px 16px
      &:hover
        background-color: $primary
  .subscribe
    &__button
      &:hover
        background-color: $primary
  .reviews
    &-slider
      &__item
        max-width: 580px
      &__text
        padding-right: 7px
  .activities
    &__wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 250px
    &__button
      &:hover
        background-color: $primary
  
  .footer
    padding-top: 59px
    padding-bottom: 56px
    &__link
      &:hover
        &::before 
          opacity: 0
    &-wrapper
      grid-template-columns: repeat(6, 1fr)
      grid-row-gap: 39px
    &__input
      &-group
        flex-basis: 48%
    &__logo
      grid-row: 1 / 2
      grid-column: span 2
    &__social
      &-network
        grid-row: 1 / 2
        grid-column: span 4
        align-self: center
    &__categories
        grid-row: 2 / 3
        grid-column: span 2
    &__legal
        grid-column: span 2
    &__additional
        grid-column: span 2 
    &__contact
      &-details
        grid-column: span 5
        grid-row: 3
        margin-top: 22px
      &-form
        grid-column: span 5
        grid-row: 4
      &__text
        font-style: normal
        font-weight: normal
        font-size: 14px
        line-height: 160%
      &__title
        &--mb-3
          margin-bottom: 24px
    &__button
      &:hover
        background-color: $primary
   
  a[href^="tel:+52566138"]
    &:hover
      &::before 
        opacity: 0
  a[href^="tel:+2691500"]  
    &:hover
      &::before 
        opacity: 0
  a[href^="mailto:cherly.lawson@example.com"]  
    &:hover
      &::before 
        opacity: 0  
  .bottom
    padding-top: 56px
    padding-bottom: 33px 
    &__conditions
      justify-content: flex-start
      margin-left: -2px
    &__icon
      margin-left: 2px
    &__link
      &:hover
        &::before 
          opacity: 0
  
  .modal
    &__dialog
      padding: 33px 44px
    &__button
      &:hover
        border-bottom: none

@media ( max-width: 768px  )
  .container
    max-width: 700px 
    width: 92%
  .logo
    width: 132px  
  .navbar
    &-top
      padding: 29px 0 31px 0
    &-bottom
      padding-bottom: 8px
    &__search
      margin-left: 48px
    &__user
      margin-left: 30px
    &-menu
      padding: 19px 14px 16px 14px
      &__link
         font-size: 12px
         line-height: 15px 
  .user
    &__name
      margin-top: 7px
  .search
    &__input    
      max-width: 340px  
  .hotel 
    &-info
      &__name
        margin-top: 6px
  .rating
    margin-top: -14px
  .booking
    padding: 28px 23px 21px
  .newsletter
    padding: 92px 0 93px 0
    height: 260px
    &-wrapper
      max-width: 700px 
      width: 92%
  .reviews
    padding: 38px 0 54px 0
    &-title
      font-size: 30px
      margin-top: 0
      margin-bottom: 50px
    &-slider
      &__profile
        margin-bottom: 32px
      &__avatar
        margin-bottom: 10px
        margin-top: -5px
      &__username
        margin-top: 0
      &__text
        max-width: 466px
        margin-left: 37px
        margin-top: 0
      &__item
        padding: 0 29px 16px
        &::after, &::before
          display: none
      &__button
        top: 51%
        &--prev
          left: 0
        &--next
          right: 0
  .activities
    padding-top: 60px
    padding-bottom: 64px
  .card
    width: 49%
    height: 255px

  .hotels
    &-photo
      height: 250px
    &__pricetag
      &-old
        font-size: 13px
        line-height: 16px
  .footer
    &-wrapper
      grid-template-columns: repeat(7, 1fr)
      grid-template-rows: 122px
    &__categories
      margin-left: 0
      margin-top: -2px
    &__additional
      grid-column: span 3
      margin-left: -5px
      margin-top: -2px
    &__legal
      margin-left: -15px
      margin-top: -2px
    &__social-network
      margin-top: 1px
      margin-left: -18px
    &__contact
      &-details
        margin-top: 24px
      &-form
        margin-top: 1px
        margin-left: 0
    &__logo
      margin-top: 0
      width: 96px
    &__form
      width: 539px
    &__input
      &-group
        flex-basis: 47%
  .bottom
    padding-top: 6px
    padding-left: 2px

@media ( max-width: 750px  )     
  .hotel
    &-slider
      height: 340px  
    &-details
      flex-direction: column 
      min-height: 450px
  .hotels
    &__button
      height: 33px
  .booking, .map
    width: 100%
  .footer
    &__categories, &__additional
      margin-left: 0
    &__legal
      margin-left: 40px
  
@media ( max-width: 700px )
  .newsletter
    &-title
      font-size: 20px
      line-height: 25px
      margin-top: 0
      margin-bottom: 0
      &__strong
        font-size: 30px
        line-height: 37px
        font-weight: 600
  .subscribe
    width: 280px
    min-height: 55px  
  .reviews
    &-slider
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
  .hotels
    &__pricetag
      &-old
        font-size: 12px
        line-height: 12px

  .modal
    &__button
      margin-top: 20px
    &__info
      position: absolute
      left: 45px
      top: 388px

@media ( max-width: 650px  )  
  body
    padding-top: 70px
  .navbar
    &__search, &__user
      &--mobile
        &--hidden
          display: none
        &--visible
          width: 245px
          display: flex
          margin-left: 0
    &__user
      margin-left: 0
      margin-bottom: 0
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 65px
      padding-top: 31px
      &--visible
        display: block
        overflow: scroll
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
            margin-bottom: 39px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color  

  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
        
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0 
  .reviews
    &-title
      font-size: 30px
      margin-bottom: 25px

  .hotels
    height: 350px
    &-photo
      height: 175px
    &__image
      &__main
        height: 350px
    &-about
      padding: 10px 20px 20px 20px
      &-main
        padding: 20px
      &__title
        margin-bottom: 10px
    &-title
      font-size: 15px
    &-info
      font-size: 12px
      line-height: 130%
      text-align: justify
      margin-bottom: 14px
    &__room
        margin-bottom: 20px
    &__text
      font-size: 12px
      line-height: 7px
    &__description
      margin-left: 10px
    &__pricetag
      font-size: 20px
      &-old
        display: none
    &__button
      padding: 5px 20px
  
  .footer
    &__legal
      margin-left: 0px
    &__form
      display: inline-flex
  
  .modal
    &__dialog
      width: 70%

@media ( max-width: 576px  )  
  .logo
    width: 110px
  .hotel
    &-slider
      height: 250px
    &-grid
      &__slider
        margin-bottom: 20px
  .newsletter
    height: 319px
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
    &-wrapper
      flex-direction: column
      align-items: flex-start
  
  .hotels
    &__image
      &__main
        max-height: 150px
        object-fit: cover
    &-about
      padding: 15px 20px 20px 20px
    &-title
      font-size: 15px
    &__room
      margin-bottom: 10px
    &__text
      font-size: 11px
      line-height: 15px
      margin-bottom: 0
    &__description
      margin-left: 10px
    &__pricetag
      font-size: 20px
      &-old
        display: none
    &__button
      width: 100px
      height: 30px
      padding: 5px 18px
  .subscribe 
    width: 100%
  .reviews
    padding: 40px 0 50px 0
    &-title
      font-size: 25px
  .card
    width: 100%
    &__button
      width: 140px
      height: 35px
  
  .footer
    padding-top: 69px
    padding-bottom: 30px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 30px
    &__logo
      grid-row: 1
      grid-column: 1
    &__form
      max-width: 450px
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        margin-left: 0
    &__additional
        grid-row: 3
        grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      margin-left: 0
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
      &-form
        grid-row: 7
        grid-column: 1
    &__message
        width: 281px
  .bottom
    padding-top: 40px

@media ( max-width: 490px  ) 
  .packages-wrapper
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(5, 1fr)
    gap: 20px
  .hotel1 
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(2, 1fr)
    gap: 0px 0px
    grid-area: 1 / 1 / 2 / 2
  .hotel2 
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(2, 1fr)
    gap: 0px 0px
    grid-area: 2 / 1 / 3 / 2
  .hotel3 
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(2, 1fr)
    gap: 0px 0px
    grid-area: 3 / 1 / 4 / 2
  .hotel4 
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(2, 1fr)
    gap: 0px 0px
    grid-area: 4 / 1 / 5 / 2
  .hotel5 
    display: grid
    grid-template-columns: 1fr
    grid-template-rows: repeat(2, 1fr)
    gap: 0px 0px
    grid-area: 5 / 1 / 6 / 2
    
  .hotels
    &-stars
      display: none
    &-photo
      &__offer
        width: 76px
        height: 23px
        &--first
          width: 76px !important
          height: 23px !important
          font-size: 11px !important
          line-height: 13px !important
    &__image
      &__main
        width: 100%
        height: 100%
        object-fit: cover
    &-about
      padding: 15px 20px 20px 25px
      &__title
        margin-bottom: 10px
    &-title
        font-size: 20px
    &-info
      display: none
    &__room
      margin-bottom: 10px
    &__text
      font-size: 15px
      line-height: 22px
      margin-bottom: 0
    &__description
      margin-left: 10px
    &__pricetag
      font-size: 20px
    &__button  
      width: 120px
      height: 35px
      padding: 5px 18px
  .reviews
    &-slider
      &__profile
        margin-top: -39px
      &__text
        margin-left: 2px
      &__button
        &--next
          right: 49%  
  .bottom
    padding-top: 30px
    padding-bottom: 21px
    &__conditions
      flex-wrap: wrap
    &__icon
      right: auto
      position: initial
      margin-top: 10px
  
  .footer
    &__form
      max-width: 350px
    &__input
      &-group
        flex-basis: 100%
  
  .modal
    &__dialog
      width: 75%

@media ( max-width: 390px  )   
  .hotel
    &-slider
      &__button
        height: 8px
        &--prev
          left: -5px
          background-image: url(../img/arrow-prev-320.svg)
        &--next
          right: 3px
          background-image: url(../img/arrow-next-320.svg)
  .footer
    &__form
      max-width: 285px
  .modal
    &__info
      top: 388px
    &__dialog
      width: 80%

@media ( max-width: 320px  )        
  .container 
    max-width: 279px
  .logo
    width: 97px
    height: 11px
    margin-top: -6px
  .navbar
    &-top
      padding: 24px 0 28px 0
      &__menu
        &-button
          margin-top: 6px
    &-bottom
      margin-top: 6px
    &-menu
      padding: 000
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            margin-bottom: 27px
  .breadcrumb
    &-list
      padding: 20px 0
  .hotel
    margin-top: -25px
    &-grid
      margin-top: 25px
    &-info
      padding-bottom: 0
      &__description
        margin: 0
    &-slider
      height: 179px
  .stars
    margin-top: -3px
    margin-right: 16px
  .booking
    &__info
      margin-bottom: 9px
    &__call
      &-center
        margin-bottom: 12px
        margin-top: -3px
  .packages
    padding-top: 0
    padding-bottom: 69px
    &__title
      margin-top: 0
      font-style: normal
      font-weight: bold
      font-size: 18px
      line-height: 23px
  .newsletter
    &-title
      margin-bottom: 36px
      margin-top: -5px
      &__strong
        padding-top: 7px
    &-wrapper
      margin-top: 5px
      width: 88%
  .reviews
    padding: 40px 0 50px 0
    &-title
      font-size: 18px
      line-height: 23px
      width: 245px
      margin-left: auto
      margin-right: auto
      margin-bottom: 42px
    &-slider
      &__profile
        margin-top: -40px
      &__avatar
        margin-bottom: 10px
      &__item
        height: 438px
        padding: 0 30px
      &__text
        padding-bottom: 31px
        text-align: left
        width: 219px
        margin-left: 2px
        margin-top: 0
        padding-right: 0px
      &__button
        &--prev
          left: 40%
        &--next
          right: 42%
  .activities
    padding-top: 25px
    padding-bottom: 48px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    &__button
      width: 100px
      height: 30px
  .hotels
    &-about
      &__title
        margin-bottom: 8px
    &-title
        font-size: 18px
    &__room
      margin-bottom: 10px
    &__text
      font-size: 14px
      line-height: 17px
      margin-bottom: 10px

  .footer
    &__logo
      width: 95px
      height: 100px
      margin-top: -1px
    &__social
      &-network
        display: inline-grid
        margin-top: 0 
      &-links
        max-width: 83px
        margin-top: 20px
    &__additional
      grid-row: 4
      margin-top: 0
    &__categories
      grid-row: 5
      margin-top: 0
    &__contact
      &-form
        margin-top: 14px
      &-details
        margin-top: 14px
        margin-left: -3px
    &__legal
      grid-row: 3
    &__icon
      &-wrapper
        min-width: 30px
        margin-left: 3px
    &__text
      margin-top: 24px
      margin-bottom: 20px
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 160%
    &__title
      &--mb-3
        margin-bottom: 15px
    &__message
      margin-bottom: 45px
    &__info
      position: absolute
      left: 0
      top: 251px
    &__form
      position: relative
      max-width: 279px
  
  .bottom
    padding-top: 3px
    padding-bottom: 50px
    &__conditions
      position: relative
      flex-wrap: nowrap
    &__item
      &:last-of-type
        margin-right: 0
    &__icon
      position: absolute
      left: -3px
      top: 12px
  
  .modal
    &__dialog
      width: 90%

/* Modal window in landscape orientation */        
@media (max-height: 550px)
  .modal
    &__dialog
      max-height: 400px
      overflow: scroll

@media (max-height: 430px)
  .modal
    &__dialog
      max-height: 350px
      overflow: scroll     

@media (max-height: 370px)
  .modal
    &__dialog
      max-height: 315px
      overflow: scroll            

@media (max-height: 320px)
  .modal
    &__dialog
      max-height: 299px
      overflow: scroll